@charset "UTF-8";

.bloco{
    background-image: url(img/wallpaper003.jpg);
    height: 200px;
    border:1px solid black;
    border-radius: 20px;
    margin: 20px;
}

#quadro1{
    background-position: left top;
}
#quadro2{
    background-position: left center;
}
#quadro3{
    background-position: left bottom;
}
#quadro4{
    background-position: center center;
}